name                             = "vpc-peering-example"
vpc_id                           = "vpc-0123456789abcdef0"
peer_vpc_id                      = "vpc-0fedcba9876543210"
peer_owner_id                    = null
peer_region                      = null
auto_accept                      = true
allow_remote_vpc_dns_resolution = true

tags = {
  Environment = "production"
  ManagedBy   = "Terraform"
}
