region = "us-east-1"

vpc = {
  "production-vpc" = {
    name                                 = "production-vpc"
    cidr_block                           = "10.0.0.0/16"
    instance_tenancy                     = "default"
    enable_dns_support                   = true
    enable_dns_hostnames                 = true
    enable_network_address_usage_metrics = false
    assign_generated_ipv6_cidr_block     = false
    ipv6_cidr_block_network_border_group = null

    tags = {
      Environment = "production"
      ManagedBy   = "Terraform"
    }
  },

  "staging-vpc" = {
    name                                 = "staging-vpc"
    cidr_block                           = "10.1.0.0/16"
    instance_tenancy                     = "default"
    enable_dns_support                   = true
    enable_dns_hostnames                 = false
    enable_network_address_usage_metrics = false
    assign_generated_ipv6_cidr_block     = false
    ipv6_cidr_block_network_border_group = null

    tags = {
      Environment = "staging"
      ManagedBy   = "Terraform"
    }
  }
}
