region = "us-east-1"

iam_group = {
  "developers" = {
    name = "developers"
    path = "/engineering/"

    managed_policy_arns = [
      "arn:aws:iam::aws:policy/PowerUserAccess"
    ]
  },

  "administrators" = {
    name = "administrators"
    path = "/admin/"

    managed_policy_arns = [
      "arn:aws:iam::aws:policy/AdministratorAccess"
    ]
  },

  "auditors" = {
    name = "auditors"
    path = "/compliance/"

    managed_policy_arns = [
      "arn:aws:iam::aws:policy/SecurityAudit"
    ]
  }
}
