region = "us-east-1"

vpc_peering = {
  "prod-to-shared" = {
    name                             = "prod-to-shared"
    vpc_id                           = "vpc-0123456789abcdef0"
    peer_vpc_id                      = "vpc-0fedcba9876543210"
    auto_accept                      = true
    allow_remote_vpc_dns_resolution = true
    tags = {
      Environment = "production"
    }
  }
}
