region               = "ap-south-1"
name                 = "my-ebs-volume"
availability_zone    = "ap-south-1a"
size                 = 20
type                 = "gp3"
iops                 = 3000
throughput           = 125
encrypted            = true
kms_key_id           = null
snapshot_id          = null
multi_attach_enabled = false
final_snapshot       = false

tags = {
  Environment = "test"
  ManagedBy   = "Terraform"
}
