bucket_name        = "my-test-app-bucket-155"
object_key         = "logs/sample.txt"
object_content     = "Hello from Terraform!"
versioning_enabled = true
force_destroy      = false

# Encryption
kms_master_key_id  = null
bucket_key_enabled = true

# CORS Configuration
cors_rules = [
  {
    allowed_headers = ["*"]
    allowed_methods = ["GET", "PUT", "POST"]
    allowed_origins = ["https://example.com"]
    max_age_seconds = 3000
  }
]

# Static Website Hosting
website_enabled        = false
website_index_document = "index.html"

tags = {
  Environment = "production"
  ManagedBy   = "Terraform"
}
